body {
    font-family: 'Montserrat';
}

#title {
    background-color: #1f2937;
    color: #fff;
}

.container-fluid {
    padding: 2% 15% 7%;
}

h1 {
    font-family: 'Montserrat';
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    line-height: 1.2;
}

h3 {
    font-family: 'Montserrat';
    font-weight: bold;
}

p {
    color: #8f8f8f;
}
/* Navbar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.navbar .nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
    font-weight: bold;
}
/* Download button */
.download-button {
   margin: 5% 3% 5% 0; 
}
/* Title image */
.title-img {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}
/* Features section */
#features {
 padding: 100px;
 background-color: #fff;
 position: relative;
}

.feature-box {
    text-align: center;
    padding: 4.5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 20px;
}

.icon:hover{
    color: #ff4c68;
}
/* Testimonial section */
#testimonials{
    text-align: center;
    background-color: #3882f6;
    color: #fff;
}

.testimonial-img {
    width: 10%;
    border-radius: 100px;
    margin: 20px;
}

.carousel-item {
    padding: 100px;
}

#press {
    background-color: #3882f6;
    text-align: center;
    padding-bottom: 40px;
}

.press-logo {
    width: 13%;
    margin: 5px 20px 25px;
}
/* Pricing Section */
#pricing {
    text-align: center;
    padding: 100px;
}

.pricing-column {
    padding: 30px 30px;
}
/* CTA Section */
#cta {
    color: #fff;
    text-align: center;
    background-color: #1f2937;
    padding: 80px;
}
/* Footer section */
#footer {
    background-color: #fff;
    text-align: center;
    padding: 20px;
}

.social-icons {
    margin: 20px 10px;
}

/* Responsive mobile */
@media (max-width:1028px) {
    #title {
        text-align: center;
    }

    .title-img {
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}